<div class="mt-16">
    <p><b>Main Location Details</b></p>
</div>

<div class="content-card mat-white-bg mat-elevation-z4 p-16" style="width: 100%">
    <form [formGroup]="_mainLocationDetailForm">
        <div fxLayout="row">
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Location" formControlName="location" maxlength="50" required>
            </mat-form-field>
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Nearest Villate/ Town" formControlName="nearestVillage" maxlength="50">
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <input matInput placeholder="Kms" formControlName="nearestVillageDistance" maxlength="4">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="40">
                <input matInput placeholder="State" formControlName="state" maxlength="50" required>
            </mat-form-field>
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Nearest Railway Station" formControlName="nearestRailwayStation" maxlength="50">
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <input matInput placeholder="Kms" formControlName="nearestRailwayStationDistance" maxlength="4">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="40">
                <input matInput placeholder="District" formControlName="district" maxlength="50" required>
            </mat-form-field>
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Nearest Airport" formControlName="nearestAirport" maxlength="50">
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <input matInput placeholder="Kms" formControlName="nearestAirportDistance" maxlength="4">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Region" formControlName="region" maxlength="50" required>
            </mat-form-field>
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Nearest Seaport" formControlName="nearestSeaport" maxlength="50">
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <input matInput placeholder="Kms" formControlName="nearestSeaportDistance" maxlength="4">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div fxFlex="40">
            </div>
            <mat-form-field fxFlex="40">
                <input matInput placeholder="Nearest Functional Airport" formControlName="nearestFunctionalAirport" maxlength="50">
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <input matInput placeholder="Kms" formControlName="nearestFunctionalAirportDistance" maxlength="4">
            </mat-form-field>
        </div>
    </form>
    <button class="mr-8 btn" mat-raised-button color="accent" (click)="saveMainLocationDetails()"> 
        Save
    </button>
</div>

<div class="mt-16">
    <p><b>Sub Location Details</b></p>
</div>

<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateSubLocation('addSubLocation')"> 
            Add New Sub Location
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateSubLocation('updateSubLocation')" 
                [disabled]="!selectedSubLocation"> 
            Modify Sub Location
        </button>
        <!-- <button class="btn" mat-raised-button color="accent" (click)="openDeleteDialog()" [disabled]="!selectedSubLocation">
            Remove Site Visit 
        </button> -->
    </div>
</div>

<div class="mat-table-container mt-16" mat-white-bg style="width: 100%">
    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>
        
        <!-- serialNumber Column -->
        <ng-container matColumnDef="serialNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.serialNumber }}</p>
            </mat-cell>
        </ng-container>

        <!-- siteVisitType Column -->
        <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Location</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.location }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj)"
            [ngClass]="{'highlight':obj === selectedSubLocation}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>