<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="height: 470px">
        <form [formGroup]="syndicateConsortiumForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Serial Number" formControlName="serialNumber" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <input matInput
                           (blur)="validateBank($event)"
                           (keyup.enter)="validateBank($event)"
                           (keyup.tab)="validateBank($event)"
                           placeholder="Select Bank"
                           aria-label="Select Bank"
                           [matAutocomplete]="auto"
                           [formControl]="bankKeyFormControl" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.bankKey">
                            <span>{{bank.bankName}}</span> | <small> Key : {{bank.bankKey}} </small> | <small>Branch : {{bank.bankBranch}} </small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Bank Id" formControlName="bankKey" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Bank Name" formControlName="bankName" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Sanctioned Amount" formControlName="sanctionedAmount" maxlength="13">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Currency" formControlName="currency" maxlength="3">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Approval Status" formControlName="approvalStatus" required>
                        <mat-option [value]="'01'">Application Submited</mat-option>
                        <mat-option [value]="'02'">In-principle Approved</mat-option>
                        <mat-option [value]="'03'">Sanctioned</mat-option>
                        <mat-option [value]="'04'">Disbursed</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Document Stage" formControlName="documentStage" maxlength="50">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Disbursed Amount" formControlName="disbursedAmount" maxlength="13">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Disbursement Status" formControlName="disbursementStatus" required>
                        <mat-option [value]="'1'">Disbursed</mat-option>
                        <mat-option [value]="'2'">Not Disbursed</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Lead FI" formControlName="leadBank" required>
                        <mat-option [value]="'true'">Yes</mat-option>
                        <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
