<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="addContactDetails()"> New </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateContactDetails()" [disabled]="!selectedContactDetails"> 
            Modify 
        </button>
    </div>  
    <div class="mat-table-container mt-16" mat-white-bg style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- serialNumber Column -->
            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.serialNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- selection Column -->
            <ng-container matColumnDef="selection">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Selection</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getSelection(obj.selection) }}</p>
                </mat-cell>
            </ng-container>

            <!-- loanNumber Column -->
            <ng-container matColumnDef="loanNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Loan Number</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.loanNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Name</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.name }}</p>
                </mat-cell>
            </ng-container>
            
            <!-- branchAddress Column -->
            <ng-container matColumnDef="branchAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Branch Address</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.branchAddress }}</p>
                </mat-cell>
            </ng-container>

            <!-- designation Column -->
            <ng-container matColumnDef="designation">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Designation</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.designation }}</p>
                </mat-cell>
            </ng-container>

            <!-- department Column -->
            <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Department</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.department }}</p>
                </mat-cell>
            </ng-container>

            <!-- telephoneNumber Column -->
            <ng-container matColumnDef="telephoneNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Mobile No</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.telephoneNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- landLineNumber Column -->
            <ng-container matColumnDef="landLineNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Landline No</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.landLineNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- faxNumber Column -->
            <ng-container matColumnDef="faxNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Fax No</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.faxNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Email</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.commonLoanAgreement.email }}</p>
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj)"
                [ngClass]="{'highlight':obj === selectedContactDetails}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
