<div class="content p-8">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('addFinancial')"> 
            Add
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('modifyFinancial')" 
                [disabled]="!_selectedFinancial"> Modify 
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('modifyFinancial')" 
                [disabled]="!_selectedFinancial"> Delete 
        </button>
    </div>

    <div  fxLayout="row">
        <div class="mat-table-container mat-white-bg mr-8" style="width: 100%">

            <mat-table class="enquiries-table" [dataSource]="dataSource" matSort >
    
                <!-- fiscalPeriod Column -->
                <ng-container matColumnDef="fiscalPeriod">
                    <mat-header-cell *matHeaderCellDef>Fiscal Period</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.fiscalPeriod }}</p>
                    </mat-cell>
                </ng-container>
      
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onRowSelect(obj)"
                            [ngClass]="{'highlight':obj.id === _selectedFinancial?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
    
            </mat-table>
        </div>
    </div>
</div>
