<fd-dynamic-page size="large" [autoResponsive]="true">
    <fd-dynamic-page-header headingLevel="2" [title]="title"
        subtitle="Project proposal with project, cost, loan, financial, collateral and deal guarantee details"
        [style.margin-top.rem]="1">
        <fd-dynamic-page-global-actions>
            <fd-toolbar fdType="transparent" [clearBorder]="true">
                <button fd-button
                    fd-toolbar-item
                    fdType="emphasized"
                    label="Back"
                    (click)="back()"
                >
                </button>

                <button fd-button
                    fd-toolbar-item
                    fdType="positive"
                    label="Send for Approval"
                    [style.margin-left.rem]="0.1"
                    [disabled]="!selectedEnquiryAction || selectedEnquiryAction?.workFlowStatusCode === 2 || disableSendForApproval"
                    (click)="sendForApproval()"
                >
                </button>
            </fd-toolbar>
        </fd-dynamic-page-global-actions>
    </fd-dynamic-page-header>

    @if (projectProposalOperation === 'Update' || projectProposalOperation === 'View') {
        <fdp-icon-tab-bar 
            [layoutMode]="'row'"
            [enableTabReordering]="false"
            iconTabSize="sm"
        >
            <!-- Project Proposal Tab -->
            <fdp-icon-tab-bar-tab label="Project Proposal">
                <fd-dynamic-page-content>
                    <ng-container [ngTemplateOutlet]="projectProposalForm"></ng-container>
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>

            <!-- Project Details Tab -->
            <fdp-icon-tab-bar-tab label="Project Details">
                <fd-dynamic-page-content>
                    <app-generic-update 
                        [entity]="'projectProposalProjectDetails'"
                        [searchString1]="selectedProjectProposal.id"
                        [operation]="projectDetailOperation"
                        [selectedObject]="selectedProjectDetail"
                        (onCreateSuccess)="onProjectDetailCreateSuccess($event)"
                        (onUpdateSuccess)="onProjectDetailUpdateSuccess($event)"
                    />

                    <div style="background-color: #f7f7f7; height: 1rem;"></div>
                    
                    <div style="background-color: white;">
                        <app-generic-list
                            [entity]="'projectProposalCreditRating'" 
                            [searchString1]="selectedProjectProposal.id"
                            (onCreateSuccess)="onCreditRatingCreateSuccess()"
                            (onUpdateSuccess)="onCreditRatingUpdateSuccess()"
                            [viewModeOnly]="viewModeOnly"
                        />
                    </div>
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>

            <!-- Project Cost and Share Holding Tab -->
            <fdp-icon-tab-bar-tab label="Project Cost and Share Holding">
                <fd-dynamic-page-content>
                    <app-generic-update 
                        [entity]="'projectProposalProjectCostDetails'"
                        [searchString1]="selectedProjectProposal.id"
                        [operation]="projectCostOperation"
                        [selectedObject]="selectedProjectCost"
                        (onCreateSuccess)="onProjectCostCreateSuccess($event)"
                        (onUpdateSuccess)="onProjectCostUpdateSuccess($event)"
                    />

                    <div style="background-color: #f7f7f7; height: 1rem;"></div>
                    
                    <div style="background-color: white;">
                        <app-generic-list
                            [entity]="'projectProposalShareHolding'" 
                            [searchString1]="selectedProjectProposal.id"
                            (onCreateSuccess)="onShareHoldingCreateSuccess()"
                            (onUpdateSuccess)="onShareHoldingUpdateSuccess()"
                            [viewModeOnly]="viewModeOnly"
                        />
                    </div>
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>

            <!-- Other Loan Details Tab -->
            <fdp-icon-tab-bar-tab label="Other Loan Details">
                <fd-dynamic-page-content>
                    <app-generic-update 
                        [entity]="'projectProposalOtherLoanDetails'"
                        [searchString1]="selectedProjectProposal.id"
                        [operation]="otherLoanDetailsOperation"
                        [selectedObject]="selectedOtherLoanDetails"
                        (onCreateSuccess)="onOtherLoanDetailsCreateSuccess($event)"
                        (onUpdateSuccess)="onOtherLoanDetailsUpdateSuccess($event)"
                    />

                    <div style="background-color: #f7f7f7; height: 1rem;"></div>
                    
                    <div style="background-color: white;">
                        <app-generic-list
                            [entity]="'projectProposalOtherLoanDetailsDocuments'" 
                            [searchString1]="selectedProjectProposal.id"
                            (onCreateSuccess)="onOtherLoanDetailsDocumentCreateSuccess()"
                            (onUpdateSuccess)="onOtherLoanDetailsDocumentUpdateSuccess()"
                            [viewModeOnly]="viewModeOnly"
                        />
                    </div>
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>

            <!-- Promoter/Borrower Group Financials Tab -->
            <fdp-icon-tab-bar-tab label="Promoter/Borrower Group Financials">
                <fd-dynamic-page-content>
                    <app-generic-list
                        [entity]="'projectProposalPromoterFinancials'" 
                        [searchString1]="selectedProjectProposal.id"
                        (onCreateSuccess)="onPromoterFinancialsCreateSuccess()"
                        (onUpdateSuccess)="onPromoterFinancialsUpdateSuccess()"
                        [viewModeOnly]="viewModeOnly"
                    />
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>

            <!-- Collateral Details Tab -->
            <fdp-icon-tab-bar-tab label="Collateral Details">
                <fd-dynamic-page-content>
                    <app-generic-list
                        [entity]="'projectProposalCollateralDetails'" 
                        [searchString1]="selectedProjectProposal.id"
                        (onCreateSuccess)="onCollateralDetailsCreateSuccess()"
                        (onUpdateSuccess)="onCollateralDetailsUpdateSuccess()"
                        [viewModeOnly]="viewModeOnly"
                    />
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>

            <!-- Deal Guarantee, Timelines Tab -->
            <fdp-icon-tab-bar-tab label="Deal Guarantee, Timeline and Terms">
                <fd-dynamic-page-content>
                    <app-generic-update 
                        [entity]="'projectProposalDealGuarantee'"
                        [searchString1]="selectedProjectProposal.id"
                        [operation]="dealGuaranteeOperation"
                        [selectedObject]="selectedDealGuarantee"
                        (onCreateSuccess)="onDealGuaranteeCreateSuccess($event)"
                        (onUpdateSuccess)="onDealGuaranteeUpdateSuccess($event)"
                    />
                </fd-dynamic-page-content>
            </fdp-icon-tab-bar-tab>
        </fdp-icon-tab-bar>
    } @else {
        <fd-dynamic-page-content>
            <ng-container [ngTemplateOutlet]="projectProposalForm"></ng-container>
        </fd-dynamic-page-content>
    }
</fd-dynamic-page>

<ng-template #projectProposalForm>
    <app-generic-update 
        [entity]="'projectProposal'"
        [searchString1]="loanApplicationId"
        [searchString2]="enquiryActionId"
        [loanEnquiryNumber]="selectedEnquiry.enquiryNo.id"
        [operation]="projectProposalOperation"
        (onCreateSuccess)="onProjectProposalCreateSuccess($event)"
        (onUpdateSuccess)="onProjectProposalUpdateSuccess($event)"
        [selectedObject]="selectedProjectProposal"
    />
</ng-template>
