<div class="content mt-16">
    <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
        <form [formGroup]="partnerDetailsForm">

            <div fxLayout="row">
                <span><b>Identification</b></span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Partner Category" formControlName="partnerCategory" required (selectionChange)="partnerCategoryChange($event)">
                        <mat-option></mat-option>
                        <mat-option [value]="'1'">Person</mat-option>
                        <mat-option [value]="'2'">Organization</mat-option>
                        <mat-option [value]="'3'">Group</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <mat-select placeholder="Select Default Partner Role" formControlName="defaultPartnerRole" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let businessPartnerRole of businessPartnerRoles" [value]="businessPartnerRole.code">
                            {{ businessPartnerRole.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="External BP Id" formControlName="externalBPNumber" maxlength="40">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Title" formControlName="title">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let title of partnerTitles" [value]="title.code">
                            {{ title.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Name 1" formControlName="partyName1" maxlength="40" required>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Name 2" formControlName="partyName2" maxlength="40">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Search Term 1" formControlName="searchTerm1" maxlength="10" required>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Search Term 2" formControlName="searchTerm2" maxlength="10" >
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <span><b>Address</b></span>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Street/ House No." formControlName="addressLine1" maxlength="60" required>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Street 2" formControlName="addressLine2" maxlength="60" required>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Street 3" formControlName="addressLine3" maxlength="60">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="City" formControlName="city" maxlength="40" required>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Postal Code" formControlName="postalCode" maxlength="6">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="State/ Region" formControlName="state" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let state of states" [value]="state.code">
                            {{ state.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Country" formControlName="country" maxlength="60" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput [matDatepicker]="addressValidFromPicker" placeholder="Address Valid From" formControlName="addressValidFromDate">
                    <mat-datepicker-toggle matSuffix [for]="addressValidFromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #addressValidFromPicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <span><b>Communication Details</b></span>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Telephone" formControlName="contactNumber" maxlength="10" >
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Email" formControlName="email" maxlength="60" required>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Mobile Phone" formControlName="mobileNumber" maxlength="10" >
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Fax" formControlName="faxNumber" maxlength="10" >
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <span><b>Other Details</b></span>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Legal Form" formControlName="legalForm" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let legalForm of legalForms" [value]="legalForm.code">
                            {{ legalForm.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Legal Entity" formControlName="legalEntity" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let legalEntity of legalEntities" [value]="legalEntity.code">
                            {{ legalEntity.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="House Bank" formControlName="houseBank" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let houseBank of houseBanks" [value]="houseBank.houseBankId">
                            {{ houseBank.bankKey }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
