<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="height: 550px">
        <mat-horizontal-stepper class="mat-elevation-z2" [linear]="true" #stepper style="height: -webkit-fill-available;">
            <!-- TAb - 1 (Project Overview) -->
            <mat-step [stepControl]="_projectDataStep1Form">
                <form [formGroup]="_projectDataStep1Form">
                    <ng-template matStepLabel>Basic Details</ng-template>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Name" formControlName="projectName" maxlength="100" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Type of Funding" formControlName="typeOfFunding">
                                <mat-option [value]="'1'">Sole Lending</mat-option>
                                <mat-option [value]="'2'">Multiple Banking</mat-option>
                                <mat-option [value]="'3'">Consortium Lending</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Policy Applicable" formControlName="policyApplicable">
                                <mat-option [value]="''"></mat-option>
                                <mat-option [value]="'N'">EV</mat-option>
                                <mat-option [value]="'E'">NEV</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Technology" formControlName="technology" maxlength="100" >
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Unit Size" formControlName="projectCapacityUnitSize" maxlength="8">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Unit of Measure" formControlName="projectCapacityUnitMeasure">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let unitOfMeasure of _dialogData.unitOfMeasures" [value]="unitOfMeasure.code">
                                    {{ unitOfMeasure.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Number of Units" formControlName="numberOfUnits" maxlength="5" >
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Design PLF CUF" formControlName="designPlfCuf" maxlength="8">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Technology Supplier" formControlName="mainContractor">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let partner of _dialogData.technologySuppliers" [value]="partner.id">
                                    <small>{{ partner.partyNumber }}</small> | {{ partner.partyName1 }}
                                    <!-- <span>{{bank.bankName}}</span> | <small> Key : {{bank.bankKey}} </small> | <small>Branch : {{bank.bankBranch}} </small> -->
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="EPC Contractor" formControlName="epcContractor">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let partner of _dialogData.epcContractors" [value]="partner.id">
                                    <small>{{ partner.partyNumber }}</small> | {{ partner.partyName1 }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Resource Assessment Agency" formControlName="resourceAssessmentAgency" maxlength="100">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="O&M Contractor" formControlName="oandmContractor" maxlength="100">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="_projectDataStep2Form">
                <form [formGroup]="_projectDataStep2Form">
                    <ng-template matStepLabel>Technical Parameters</ng-template>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Offtake Volume" formControlName="offtakeVolume" maxlength="10">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Sale Rate" formControlName="saleRate" maxlength="10">
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Fuel Mix" formControlName="fuelMix" maxlength="100">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Fuel Cost" formControlName="fuelCost" maxlength="10">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Station Heat Rate" formControlName="stationHeatRate" maxlength="13">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="O&M Expenses" formControlName="oandmExpenses" maxlength="10">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Total Land (Acres)" formControlName="totalLand" maxlength="10">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput [matDatepicker]="picker2" placeholder="Project COD" formControlName="projectCOD" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="PPA Rate" formControlName="ppaRate" maxlength="5">
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Off Taker Company" formControlName="offTakerCompany" maxlength="60">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <p fxFlex="100"><b>Off Taker Distribution</b></p>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="IPP %" formControlName="ippPercentage" maxlength="6">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Group Captive %" formControlName="groupCaptivePercentage" maxlength="6">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Third Party %" formControlName="thirdPartyPercentage" maxlength="6">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Market %" formControlName="marketPercentage" maxlength="6">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="_projectDataStep3Form">
                <form [formGroup]="_projectDataStep3Form">
                    <ng-template matStepLabel>Financial Parameters</ng-template>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Plant & Machinery Cost/ EPC Cost" formControlName="epcCost" maxlength="15">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Overall Project Cost" formControlName="overallProjectCost" maxlength="19">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Debt Equity Ratio" formControlName="debtEquityRatio" maxlength="5">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Total Debt" formControlName="totalDebt" maxlength="19">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Rate of Interest - Pre COD" formControlName="roiPreCod" maxlength="6">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Rate of Interest - Post COD" formControlName="roiPostCod" maxlength="6">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Construction Period" formControlName="constructionPeriod" maxlength="4">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Unit" formControlName="constructionPeriodUnit">
                              <mat-option [value]="''"></mat-option>
                              <mat-option [value]="'0'">Days</mat-option>
                              <mat-option [value]="'1'">Weeks</mat-option>
                              <mat-option [value]="'2'">Months</mat-option>
                              <mat-option [value]="'3'">Years</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Moratorium Period" formControlName="moratoriumPeriod" maxlength="4">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Unit" formControlName="moratoriumPeriodUnit">
                              <mat-option [value]="''"></mat-option>
                              <mat-option [value]="'0'">Days</mat-option>
                              <mat-option [value]="'1'">Weeks</mat-option>
                              <mat-option [value]="'2'">Months</mat-option>
                              <mat-option [value]="'3'">Years</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Door to Door - Tenor" formControlName="tenorPeriod" maxlength="4">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Unit" formControlName="tenorUnit">
                              <mat-option [value]="''"></mat-option>
                              <mat-option [value]="'0'">Days</mat-option>
                              <mat-option [value]="'1'">Weeks</mat-option>
                              <mat-option [value]="'2'">Months</mat-option>
                              <mat-option [value]="'3'">Years</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Repayment Schedule" formControlName="repaymentSchedule" maxlength="100">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="DSCR - Minimum" formControlName="dscrMinimum" maxlength="6">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="DSCR - Average" formControlName="dscrAverage" maxlength="6">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="LEV Cost of Supply w/o ROE (Total)" formControlName="levCostTotal" maxlength="16">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="LEV Cost of Supply w/o ROE (Fixed)" formControlName="levCostFixed" maxlength="16">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="LEV Cost of Supply w/o ROE (Variable)" formControlName="levCostVariable" maxlength="16">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Working Capital Cycle" formControlName="workingCapitalCycle" maxlength="4">
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Unit" formControlName="workingCapitalUnit">
                              <mat-option [value]="''"></mat-option>
                              <mat-option [value]="'0'">Days</mat-option>
                              <mat-option [value]="'1'">Weeks</mat-option>
                              <mat-option [value]="'2'">Months</mat-option>
                              <mat-option [value]="'3'">Years</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Submit Data</ng-template>
                <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                    Please click on Finish to submit.
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                        Previous
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="submit()">
                        Finish
                    </button>
                </div>

            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>
