.docs-tile {
    height: 100%;
}

.docs-tile-content-example {
    padding: 8px;
}

// .docs-til-e-example-background {
//     background-color: #f7f7f7;
//     background-color: var(--sapBackgroundColor, #f7f7f7);
//     color: #32363a;
//     color: var(--sapTextColor, #32363a);
// }

.docs-tile.docs-tile-example-background {
    background-color: #f7f7f7;
    background-color: var(--sapBackgroundColor, #f7f7f7);
    color: #32363a;
    color: var(--sapTextColor, #32363a);
}