<fd-dynamic-page size="large" [autoResponsive]="true">
    <fd-dynamic-page-header headingLevel="2" title="Search Loan Contracts" [subtitle]="subtitle" [style.margin-top.rem]="1">
        <fd-dynamic-page-global-actions>
            <fd-toolbar fdType="transparent" [clearBorder]="true">
                <ng-container [fdCompact]="'compact'">
                    @for (stage of stages; track stage.label) {
                        <button fd-button
                            fd-toolbar-item
                            fdCompact
                            [label]="stage.label"
                            [disabled]="selectedEnquiry.selected.length === 0"
                            (click)="stage.open()"
                        >
                        </button>
                    }
                </ng-container>
            </fd-toolbar>
        </fd-dynamic-page-global-actions>
    </fd-dynamic-page-header>
    <fd-dynamic-page-content cdkScrollable>
        <app-loan-contract-list></app-loan-contract-list>
    </fd-dynamic-page-content>
</fd-dynamic-page>
