<div id="tickers" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h4 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
            *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            Board Approval : {{ loanContractId }} / {{ selectedEnquiry.projectName }}
            <br>
            Loan Status: {{ functionalStatus }}
        </div>
        <!-- / BREADCRUMB -->
        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button class="mr-8 mb-8" (click)="sendForApproval()" [disabled]="(boardApproval === undefined || boardApproval === null ||
                    boardApproval.workFlowStatusCode === 2) || disableSendForApproval === true">
                <mat-icon matSuffix class="mr-8">check</mat-icon>Send for Approval
            </button>
        </div>
        <!-- / TOOLBAR -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16">

        <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
            <mat-expansion-panel [expanded]="expandPanel1" hideToggle="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Enquiry Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <form [formGroup]="selectedEnquiryForm">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="BP Code" formControlName="busPartnerNumber" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Location (State)" formControlName="projectLocationState" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Type" formControlName="projectType" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Class" formControlName="loanClassDescription" readonly>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Capacity" formControlName="projectCapacity" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Type of Assistance" formControlName="assistanceTypeDescription" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Cost" formControlName="projectCost" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Amount Requested" formControlName="loanAmount" readonly>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Financing Type" formControlName="financingTypeDescription" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Lead FI" formControlName="leadFI" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Stage" formControlName="stage" readonly>
                        </mat-form-field>
                    </div>
                </form> -->
            </mat-expansion-panel>
        </div>

        <mat-tab-group class="mt-16">
            <!-- Deferred by board tab starts here -->
            <mat-tab label="Deferred By Board">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-deferred-by-board></fuse-deferred-by-board>
                </div>
            </mat-tab>

            <!-- Reason for delay tab starts here -->
            <mat-tab label="Reason For Delay">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-board-approval-reason-for-delay></fuse-board-approval-reason-for-delay>
                </div>
            </mat-tab>
            
            <!-- Rejected by board tab starts here -->
            <mat-tab label="Rejected By Board">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-rejected-by-board></fuse-rejected-by-board>
                </div>
            </mat-tab>

            <!-- Approval by board tab starts here -->
            <mat-tab label="Board Approval">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-approval-by-board></fuse-approval-by-board>
                </div>
            </mat-tab>

            <!-- Rejected by customer tab starts here -->
            <mat-tab label="Rejected By Customer">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-ba-rejected-by-customer></fuse-ba-rejected-by-customer>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- / CONTENT -->
</div>
