<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="partnerForm">

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Party Name 1" formControlName="partyName1" maxlength="100">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Business Partner Number" formControlName="partyNumber">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Search Term 1" formControlName="searchTerm1" maxlength="100">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Search Term 2" formControlName="searchTerm2" maxlength="100">
                </mat-form-field>
            </div>
            <div mat-dialog-actions fxLayout="row" class="mb-8">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({})">
                    Cancel
                </button>
            </div>

            <div class="mat-table-container mt-16" mat-white-bg style="width: 100%">
                <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>
        
                    <ng-container matColumnDef="partyName1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Party Name 1</mat-header-cell>
                        <mat-cell *matCellDef="let obj" >
                            <p class="text-truncate">{{ obj.partyName1 }}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="partyNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Business Partner Number</mat-header-cell>
                        <mat-cell *matCellDef="let obj" >
                            <p class="text-truncate">{{ obj.partyNumber }}</p>
                        </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="addressLine1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Address Line 1</mat-header-cell>
                        <mat-cell *matCellDef="let obj" >
                            <p class="text-truncate">{{ obj.addressLine1 }}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="addressLine2">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Address Line 2</mat-header-cell>
                        <mat-cell *matCellDef="let obj" >
                            <p class="text-truncate">{{ obj.addressLine2 }}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >City</mat-header-cell>
                        <mat-cell *matCellDef="let obj" >
                            <p class="text-truncate">{{ obj.city }}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >State</mat-header-cell>
                        <mat-cell *matCellDef="let obj" >
                            <p class="text-truncate">{{ obj.state }}</p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
                    <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="selectRow(obj)"
                        [ngClass]="{'highlight':obj === selectedPartner}" [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
        
                </mat-table>
        
            </div>
            <div mat-dialog-actions fxLayout="row" class="mb-8">
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="selectPartner()">
                    Select
                </button>
            </div>
        </form>
    </div>
</div>
