<div class="content p-8">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('addCollateralDetail')"> 
            Add
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('modifyCollateralDetail')" 
                [disabled]="!_selectedCollateralDetail"> Modify 
        </button>
    </div>

    <div  fxLayout="row">
        <div class="mat-table-container mat-white-bg mr-8" style="width: 50%">

            <mat-table class="enquiries-table" [dataSource]="dataSource" matSort>
    
                <!-- collateralType Column -->
                <ng-container matColumnDef="collateralType">
                    <mat-header-cell *matHeaderCellDef>Collateral Type</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.collateralType }}</p>
                    </mat-cell>
                </ng-container>
      
                <!-- details Column -->
                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.details }}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onRowSelect(obj)"
                            [ngClass]="{'highlight':obj.id === _selectedCollateralDetail?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
    
            </mat-table>
        </div>
    </div>
</div>
