<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="contactDetailsUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Serial Number" formControlName="serialNumber" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Loan Number" formControlName="loanNumber" maxlength="10">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Selection" formControlName="selection">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Contact Person Name" formControlName="name" maxlength="40">
                </mat-form-field>
            </div>
            <div fxLayout="row" class="mt-16">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Branch Address" formControlName="branchAddress" maxlength="80">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Designation" formControlName="designation" maxlength="40">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Department" formControlName="department" maxlength="40">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="email" placeholder="Mobile Number" maxlength="20" formControlName="telephoneNumber">      
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Land Line Number" maxlength="20" formControlName="landLineNumber">      
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="email" placeholder="Fax Number" maxlength="20" formControlName="faxNumber">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput type="email" placeholder="Email" maxlength="240" formControlName="email">
                </mat-form-field>
            </div>
            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
