<div class="content p-8" style="background-color: lightgrey !important;">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
            Submit
        </button>
    </div>

    <form [formGroup]="_dealGuaranteeTimelineForm">
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Deal Transaction Structure"
                        formControlName="dealTransactionStructure" maxlength="500"  >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Status of PBG and MABG if applicable"
                        formControlName="statusOfPBGAndMABG" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Timeline of the project milestones from the day of sanction to the day of proposed completion"
                        formControlName="timelinesMilestones" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Strengths of the Project/Proposal"
                        formControlName="strengths" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Details of Funding arrangements from sources other than PFS"
                        formControlName="fundingArrangement" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Schedule of stages of disbursement of the loan"
                        formControlName="disbursementStageSchedule" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Any CBI/ Economic Offense Enquiry"
                        formControlName="offensesEnquiry" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Existing Relations of the Borrower and Group with PFS/PTC"
                        formControlName="existingRelationsPFSPTC" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Deviation w.r.t operating guidelines/other policies of PFS"
                        formControlName="deviations" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <mat-label>Environmental System Category</mat-label>
                <mat-select formControlName="environmentalSystemCategory">
                    <mat-option value="Category A">Category A</mat-option>
                    <mat-option value="Category B">Category B</mat-option>
                    <mat-option value="Category C">Category C</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Environmental and Social Management System Categorization Remarks"
                        formControlName="esmsCategorization" maxlength="500" >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Other Project Details"
                        formControlName="otherProjectDetails" maxlength="500" >
            </mat-form-field>
        </div>
    </form>
</div>
