<div class="content mt-16">
    <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
        <form [formGroup]="projectDetailForm">

            <div fxLayout="row">
                <span><b>Project Details</b></span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Name of Project" formControlName="projectName" maxlength="60">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Name of Sponsor/Group" formControlName="promoterName" maxlength="60">
                </mat-form-field>

            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Purpose of Loan" formControlName="loanPurpose" maxlength="60" >
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Project Capacity" formControlName="projectCapacity" maxlength="10" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Project Capacity unit" formControlName="projectCapacityUnit">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let unitOfMeasure of unitOfMeasures" [value]="unitOfMeasure.code">
                            {{ unitOfMeasure.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="State" formControlName="state">
                        <mat-option> </mat-option>
                        <mat-option *ngFor="let state of states" [value]="state.code">
                            {{ state.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <span><b>Loan Product and Term</b></span>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Product Type" formControlName="productTypeCode" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let productType of productTypes" [value]="productType.code">
                            {{ productType.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Term" formControlName="term" maxlength="3" required type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput [matDatepicker]="picker" placeholder="Enquiry Completion Date" formControlName="enquiryCompletionDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <p ><b>Loan Type</b></p>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Loan Type" formControlName="loanType">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let loanType of loanTypes" [value]="loanType.code">
                            {{ loanType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Loan Class" formControlName="loanClass" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let loanClass of loanClasses" [value]="loanClass.code">
                            {{ loanClass.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Type of Assistance" formControlName="assistanceType">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let assistanceType of assistanceTypes" [value]="assistanceType.code">
                            {{ assistanceType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Financing Type" formControlName="financingType" >
                        <mat-option> </mat-option>
                        <mat-option *ngFor="let financingType of financingTypes" [value]="financingType.code">
                            {{ financingType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Project Type (Sub Sector)" formControlName="projectType">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let projectType of projectTypes" [value]="projectType.code">
                            {{ projectType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Project type (Core Sector)" formControlName="projectTypeCoreSector" >
                        <mat-option *ngFor="let projectTypeCoreSector of projectTypeCoreSectors" [value]="projectTypeCoreSector.code">
                            {{ projectTypeCoreSector.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Purpose of Loan" formControlName="purposeOfLoan">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let purposeOfLoan of purposeOfLoans" [value]="purposeOfLoan.code">
                            {{ purposeOfLoan.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <p ><b>Loan Amount and Rate of Interest</b></p>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Project Cost (Crores)" formControlName="projectCost" maxlength="7" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Debt (Crores)" formControlName="debt" maxlength="7" type="number" (focusout)="calculateRatio()">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Promoter Contribution /Equity (Crores)" formControlName="promoterContributionEquity" maxlength="7" type="number" (focusout)="calculateRatio()">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Debt:Equity Ratio without grant" formControlName="debtEquityRatio" maxlength="7" readonly>
                </mat-form-field>

            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Grant/Subsidy Amount (Crores)" formControlName="grantSubsidyAmount" maxlength="7" type="number" (focusout)="calculateRatio()">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Debt:Equity Ratio with grant" formControlName="debtEquityRatioWithGrant" maxlength="7" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="PFS Debt Amount (Crores)" formControlName="pfsDebtAmount" maxlength="7" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Rate of Interest" formControlName="rateOfInterest" maxlength="5" type="number">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <p ><b>Loan Tenure</b></p>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Tenure (Year)" formControlName="tenorYear" maxlength="2" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Tenure (Months)" formControlName="tenorMonths" maxlength="2" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Moratorium Period" formControlName="moratoriumPeriod" maxlength="4" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Unit" formControlName="moratoriumPeriodUnit">
                        <mat-option [value]="''"></mat-option>
                        <mat-option [value]="'0'">Days</mat-option>
                        <mat-option [value]="'1'">Weeks</mat-option>
                        <mat-option [value]="'2'">Months</mat-option>
                        <mat-option [value]="'3'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Construction Period" formControlName="constructionPeriod" maxlength="4" type="number">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <mat-select placeholder="Unit" formControlName="constructionPeriodUnit">
                        <mat-option [value]="''"></mat-option>
                        <mat-option [value]="'0'">Days</mat-option>
                        <mat-option [value]="'1'">Weeks</mat-option>
                        <mat-option [value]="'2'">Months</mat-option>
                        <mat-option [value]="'3'">Years</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
