<component-ngx>
    <fd-layout-grid [noGap]="true" class="component-grid">
        <div fdLayoutGridRow>
            <div [fdLayoutGridCol]="8">
                <h2>{{ title }}</h2>
            </div>
            <div [fdLayoutGridCol]="4" [style.text-align]="'right'" [style.margin-top.rem]="0.5">
                <button 
                    fd-button 
                    (click)="router.navigate(['/loan-contract-search'])" 
                    fdType="emphasized"
                >
                    Back
                </button>
                <button 
                    [style.margin-left.rem]="0.5"
                    fd-button 
                    (click)="sendForApproval()" 
                    fdType="emphasized"
                    [disabled]="(!selectedBoardApproval || selectedBoardApproval.workFlowStatusCode === 2) || disableSendForApproval === true"
                >
                    Send for Approval
                </button>
            </div>
        </div>
    </fd-layout-grid>

    <fd-layout-grid [noGap]="true" class="component-grid">
        <div fdLayoutGridRow>
            <div fdLayoutGridCol colGrow>
                <fdp-icon-tab-bar 
                    [layoutMode]="'row'"
                    [enableTabReordering]="false"
                    iconTabSize="sm"
                >
                    <!-- Deferred By Board Tab -->
                    <fdp-icon-tab-bar-tab label="Deferred By Board">
                        <app-generic-list 
                            [entity]="'boardApprovalDeferredByBoard'" 
                            [searchString1]="selectedBoardApproval?.id ?? ''" 
                            [searchString2]="loanApplicationId"
                        />
                    </fdp-icon-tab-bar-tab>

                    <!-- Reason For Delay Tab -->
                    <fdp-icon-tab-bar-tab label="Reason For Delay">
                        <app-generic-list 
                            [entity]="'boardApprovalReasonsForDelay'" 
                            [searchString1]="selectedBoardApproval?.id ?? ''" 
                            [searchString2]="loanApplicationId"
                        />
                    </fdp-icon-tab-bar-tab>

                    <!-- Rejected By Board Tab -->
                    <fdp-icon-tab-bar-tab label="Rejected By Board">
                        <app-generic-list 
                            [entity]="'boardApprovalRejectedByBoard'" 
                            [searchString1]="selectedBoardApproval?.id ?? ''" 
                            [searchString2]="loanApplicationId"
                        />
                    </fdp-icon-tab-bar-tab>

                    <!-- Board Approval Tab -->
                    <fdp-icon-tab-bar-tab label="Board Approval">
                        <app-generic-list 
                            [entity]="'boardApprovalApprovalByBoard'" 
                            [searchString1]="selectedBoardApproval?.id ?? ''" 
                            [searchString2]="loanApplicationId"
                        />
                    </fdp-icon-tab-bar-tab>

                    <!-- Rejected By Customer Tab -->
                    <fdp-icon-tab-bar-tab label="Rejected By Customer">
                        <app-generic-list 
                            [entity]="'boardApprovalRejectedByCustomer'" 
                            [searchString1]="selectedBoardApproval?.id ?? ''" 
                            [searchString2]="loanApplicationId"
                        />
                    </fdp-icon-tab-bar-tab>
                </fdp-icon-tab-bar>
            </div>
        </div>
    </fd-layout-grid>
</component-ngx>
