<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="bankDetailsUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput
                           (blur)="validateBank($event)"
                           (keyup.enter)="validateBank($event)"
                           (keyup.tab)="validateBank($event)"
                           placeholder="Select Bank"
                           aria-label="Select Bank"
                           [matAutocomplete]="auto"
                           [formControl]="bankKeyFormControl" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let bank of bankFilteredOptions | async" [value]="bank.bankKey">
                            <span>{{bank.bankName}}</span> | <small> Key : {{bank.bankKey}} </small> | <small>Branch : {{bank.bankBranch}} </small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- <mat-form-field fxFlex="50">
                    <input matInput placeholder="Bank Key" formControlName="bankKey" maxlength="10">
                </mat-form-field> -->
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Bank Name" formControlName="bankName" maxlength="40">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="IFSC Code" formControlName="ifscCode" maxlength="15">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Account Number" formControlName="accountNumber" maxlength="18">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="entryDatePicker" placeholder="Entry Date" formControlName="entryDate">
                    <mat-datepicker-toggle matSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #entryDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="validFromPicker" placeholder="Valid From" formControlName="validFromDate">
                    <mat-datepicker-toggle matSuffix [for]="validFromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #validFromPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="validToPicker" placeholder="Valid To" formControlName="validToDate">
                    <mat-datepicker-toggle matSuffix [for]="validToPicker"></mat-datepicker-toggle>
                    <mat-datepicker #validToPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Country" formControlName="bankCountry">
                        <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode.code">
                            {{countryCode.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Reference Details" formControlName="referenceNumber" maxlength="20">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Account Holder" formControlName="accountHolderName" maxlength="60">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Account Name" formControlName="bankAccountName" maxlength="40">
                </mat-form-field>
            </div>
            <div mat-dialog-actions fxLayout="row" class="mb-16">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
