mat-header-cell, mat-header-row, .mat-header-cell-def{
    font-weight:bold;
}

mat-paginator.mat-paginator.paginator--centered {
    display: flex;
    justify-content: left;
}

.mat-cell, .mat-header-cell {
    text-align: left;
}

.highlight{
    background: #FFA500; /* orange */
}

.mat-column-amountApproved {
    justify-content: flex-end;
}

.mat-column-iccApprovedRoi {
    justify-content: flex-end;
}

.mat-column-amountRequested {
    justify-content: flex-end;
}

.mat-column-borrowerRequestedROI {
    justify-content: flex-end;
}

::ng-deep .success-snackbar {
    white-space: pre-wrap
}

.mat-column-borrowerName {
    flex: 0 0 10%;
}

.mat-column-groupName {
    flex: 0 0 10%;
}