<fd-dynamic-page size="large" [autoResponsive]="true">
    <fd-dynamic-page-header headingLevel="2" [title]="title"
        subtitle="Partner details, roles, FI customer/vendor, KYC, financials, industry, identification and bank details"
        [style.margin-top.rem]="1">
        <fd-dynamic-page-global-actions>
            <fd-toolbar fdType="transparent" [clearBorder]="true">
                <button fd-button
                    fd-toolbar-item
                    fdType="emphasized"
                    label="Back"
                    (click)="router.navigate(['/business-partners'])"
                >
                </button>

                <button fd-button
                    fd-toolbar-item
                    fdType="positive"
                    label="Send for Approval"
                    [style.margin-left.rem]="0.1"
                    [disabled]="!selectedBusinessPartner || selectedBusinessPartner.workFlowStatusCode === 2 || disableSendForApproval"
                    (click)="sendForApproval()"
                >
                </button>
            </fd-toolbar>
        </fd-dynamic-page-global-actions>
    </fd-dynamic-page-header>
    <fdp-icon-tab-bar [layoutMode]="'row'" [enableTabReordering]="false" iconTabSize="sm">
        <!-- Business Partner Details Tab -->
        <fdp-icon-tab-bar-tab label="Partner Details" icon="group">
            <fd-dynamic-page-content>
                <fd-layout-grid [noGap]="false" class="component-grid">
                    <div fdLayoutGridRow>
                        <div [fdLayoutGridCol]="12">
                            <!-- Business Partner Details -->
                            <fd-panel [fixed]="true">
                                <h5 fd-panel-title class="fd-panel-title">Basic Information</h5>
                                <button fd-button fdType="transparent" glyph="edit" title="Edit Basic Information"
                                    (click)="editBasicInformation()">
                                </button>
                
                                <div fd-panel-content ariaLabel="Panel Content" id="panel-content-2">
                
                                    <fd-layout-grid [noGap]="true" class="tab-component-grid" [style.margin-top.rem]="0.5">
                                        <div fdLayoutGridRow>
                                            <div fdLayoutGridCol style="background-color: white;">
                                                <app-generic-update 
                                                    [entity]="'businessPartnerBasicInformation'"
                                                    [operation]="'View'"
                                                    [selectedObject]="selectedBusinessPartner"
                                                />            
                                            </div>
                                        </div>
                                    </fd-layout-grid>
                                
                                </div>
                            </fd-panel>
                        </div>

                        <!-- Contact Details -->
                        <div [fdLayoutGridCol]="12" [style.margin-top.rem]="0.50">  
                            <app-contact-list></app-contact-list>
                        </div>
                    </div>
                </fd-layout-grid>
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>
        
        @if (operation !== 'create') {

        <!-- Business Partner Roles Tab -->
        <fdp-icon-tab-bar-tab label="Business Partner Roles" icon="role">
            <fd-dynamic-page-content>
                <app-generic-list [entity]="'businessPartnerRoles'" [searchString1]="selectedBusinessPartnerId"/>
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>

        <!-- FI Customer/Vendor Tab -->
        <fdp-icon-tab-bar-tab label="FI Customer/Vendor" icon="customer">
            <fd-dynamic-page-content>
                <app-generic-list 
                    [entity]="'businessPartnerFICustomerVendor'" 
                    [searchString1]="selectedBusinessPartnerId"
                    (onCreateClick)="openCustomerDetailsUpdateDialog()"
                    (onUpdateClick)="openCustomerDetailsUpdateDialog($event)"
                    (onViewClick)="openCustomerDetailsViewDialog($event)"
                    #customerDetailsList
                />
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>

        <!-- KYC Tab -->
        <fdp-icon-tab-bar-tab label="KYC" icon="work-history">
            <fd-dynamic-page-content>
                <app-generic-list 
                    [entity]="'businessPartnerKYCDetails'" 
                    [searchString1]="selectedBusinessPartnerId"
                    (onCreateClick)="openKYCDetailsUpdateDialog()"
                    (onUpdateClick)="openKYCDetailsUpdateDialog($event)"
                    (onViewClick)="openKYCDetailsViewDialog($event)"
                    #kycDetailsList
                />
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>

        <!-- Financials Tab -->
        <fdp-icon-tab-bar-tab label="Financials" icon="monitor-payments">
            <fd-dynamic-page-content>
                <app-generic-list [entity]="'businessPartnerFinancials'" [searchString1]="selectedBusinessPartnerId"/>
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>

        <!-- Industry Details Tab -->
        <fdp-icon-tab-bar-tab label="Industry Details" icon="vertical-bullet-chart">
            <fd-dynamic-page-content>
                <app-generic-list [entity]="'businessPartnerIndustryDetails'" [searchString1]="selectedBusinessPartnerId"/>
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>

        <!-- Identification Details Tab -->
        <fdp-icon-tab-bar-tab label="Identification Details" icon="documents">
            <fd-dynamic-page-content>
                <app-generic-list 
                    [entity]="'businessPartnerIdentificationDetails'" 
                    [searchString1]="selectedBusinessPartnerId"
                    (onCreateClick)="openIdentificationDetailsUpdateDialog()"
                    (onUpdateClick)="openIdentificationDetailsUpdateDialog($event)"
                    (onViewClick)="openIdentificationDetailsViewDialog($event)"
                    #identificationDetailsList
                />
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>

        <!-- Bank Details Tab -->
        <fdp-icon-tab-bar-tab label="Bank Details" icon="money-bills">
            <fd-dynamic-page-content>
                <app-generic-list 
                    [entity]="'businessPartnerBankDetails'" 
                    [searchString1]="selectedBusinessPartnerId"
                    (onCreateClick)="openBankDetailsUpdateDialog()"
                    (onUpdateClick)="openBankDetailsUpdateDialog($event)"
                    (onViewClick)="openBankDetailsViewDialog($event)"
                    #bankDetailsList
                />
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>
        }
    </fdp-icon-tab-bar>
</fd-dynamic-page>
