<div class="content mt-16">
    <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
        <form [formGroup]="npaUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Asset Class" formControlName="assetClass" required>
                        <mat-option *ngFor="let obj of assetClasses" [value]="obj.code">
                            {{ obj.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="34">
                    <input matInput [matDatepicker]="picker1" placeholder="NPA Declaration Date" formControlName="npaDeclarationDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Total Loan Asset" formControlName="totalLoanAsset" maxlength="10">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Secured Loan Asset" formControlName="securedLoanAsset" maxlength="10">          
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Unsecured Loan Asset" formControlName="unSecuredLoanAsset" maxlength="10">          
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Restructuing Type" formControlName="restructuringType" required>
                        <mat-option *ngFor="let obj of restructuringTypes" [value]="obj.code">
                            {{ obj.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="SMA Category" formControlName="smaCategory" required>
                        <mat-option *ngFor="let obj of smaCategories" [value]="obj.code">
                            {{ obj.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="34">
                    <input matInput [matDatepicker]="picker4" placeholder="Fraud Date" formControlName="fraudDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Impairment Reserve" formControlName="impairmentReserve" maxlength="10">          
                </mat-form-field>
            </div>
            
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Provision Amount" formControlName="provisionAmount" maxlength="10">          
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<div class="toolbar" fxLayout="row" class="mt-16">
    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateNPADetails('addNPADetails')" 
            [disabled]="selectedNPA === null"> 
        Add New NPA Detail
    </button>
    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateNPADetails('updateNPADetails')" 
            [disabled]="!selectedNPADetail"> 
        Modify NPA Detail
    </button>
</div>

<div class="mat-table-container mt-16" mat-white-bg style="width: 100%">
    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>
        
        <!-- lineItemNumber Column -->
        <ng-container matColumnDef="lineItemNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lineItemNumber }}</p>
            </mat-cell>
        </ng-container>

        <!-- npaAssetClass Column -->
        <ng-container matColumnDef="npaAssetClass">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Asset Class</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.npaAssetClass }}</p>
            </mat-cell>
        </ng-container>

        <!-- assetClassificationChangeDate Column -->
        <ng-container matColumnDef="assetClassificationChangeDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Change Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.assetClassificationChangeDate }}</p>
            </mat-cell>
        </ng-container>

        <!-- provisionDate Column -->
        <ng-container matColumnDef="provisionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Provision Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.provisionDate }}</p>
            </mat-cell>
        </ng-container>

        <!-- absoluteValue Column -->
        <ng-container matColumnDef="absoluteValue">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Equity Link Instrument (Current)</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.absoluteValue | number: '1.2-2' }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj)"
            [ngClass]="{'highlight':obj === selectedNPADetail}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>
