<fd-layout-grid [noGap]="true" class="tab-component-grid">

    @if (config.header) {
        <div fdLayoutGridRow>
            <div fdLayoutGridCol style="background-color: white;" class="generic-list-header">
                <h5 fd-title>{{ config.header }}</h5>
            </div>
        </div>
    }
    
    <div fdLayoutGridRow>
        <div fdLayoutGridCol [style.padding.rem]="0.5" style="background-color: white;">
            <fd-toolbar fdType="transparent" [clearBorder]="true">
                @if (config.createButton && !viewModeOnly) {
                    <!-- Create button -->
                    <button fd-button
                        fd-toolbar-item
                        fdCompact
                        fdType="emphasized"
                        label="Create"
                        (click)="openCreateDialog()"
                        [disabled]="disableCreateButton"
                    >
                    </button>
                }
                @if (config.updateButton && !viewModeOnly) {
                    <!-- Update button -->
                    <button fd-button
                        fd-toolbar-item
                        fdCompact
                        fdType="emphasized"
                        label="Update"
                        (click)="openUpdateDialog()"
                        [disabled]="isUpdateDisabled()"
                    >
                    </button>
                }
                @if (config.deleteButton && !viewModeOnly) {
                    <!-- Delete button -->
                    <button fd-button
                        fd-toolbar-item
                        fdCompact
                        fdType="negative"
                        label="Delete"
                        (click)="openDeleteDialog()"
                        [disabled]="isDeleteDisabled()"
                    >
                    </button>
                }
                @if (config.viewButton) {
                    <!-- View button -->
                    <button fd-button
                        fd-toolbar-item
                        fdCompact
                        fdType="emphasized"
                        label="View"
                        (click)="openViewDialog()"
                        [disabled]="selectedObjectId.isEmpty()"
                    >
                    </button>
                }
            </fd-toolbar>
        </div>
    </div>

    <div fdLayoutGridRow style="height: auto;">
        <div [fdLayoutGridCol]="12">
            <table fd-table>
                <thead fd-table-header>
                    <tr fd-table-row>
                        @for (column of config.displayedColumns; track column.header) {
                            <th fd-table-cell>{{ column.header }}</th>
                        }
                    </tr>
                </thead>
                <tbody fd-table-body>
                    @for (item of data; track item) {
                        <tr fd-table-row
                            [hoverable]="true"
                            [active]="selectedObjectId.isSelected(item.id)"
                            (click)="selectedObjectId.select(item.id); selectedObject = item;"
                        >
                            @for (col of config.displayedColumns; track col) {
                                <td fd-table-cell>
                                    @if (col.name === 'fileReference' || col.name === 'fileReference1' || col.name === 'fileReference2') {
                                        @if (item[col.name]) {
                                            <a href="{{ apiUrl }}/download/{{ item[col.name] }}" target="_blank" download>
                                                <fd-icon [glyph]="'download-from-cloud'"></fd-icon>
                                            </a>
                                        } 
                                        @else {
                                            <span>--</span>
                                        }
                                    } @else {
                                        {{ item['formatted_' + col.name] || '--' }}
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fd-layout-grid>
