<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <!-- <button class="mr-8 btn" mat-raised-button color="accent" (click)="displayInsurance()" [disabled]="!selectedInsurance"
                *ngIf="_module === 'Monitoring'">
            Display Insurance Details
        </button> -->
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="addInsurance()"> Add Insurance </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateInsurance()" [disabled]="!selectedInsurance">
            Modify Insurance
        </button>
    </div>
    
    <div class="mat-table-container mt-16" mat-white-bg style="width: 100%">
        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- validFrom Column -->
            <ng-container matColumnDef="validFrom">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Valid From</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.validFrom | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- validTo Column -->
            <ng-container matColumnDef="validTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Valid To</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.validTo | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- documentType Column -->
            <ng-container matColumnDef="documentType">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Document Type</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getDocumentTypeDescription(obj.documentType) }}</p>
                </mat-cell>
            </ng-container>

            <!-- documentTitle Column -->
            <ng-container matColumnDef="documentTitle">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Document Title</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.documentTitle }}</p>
                </mat-cell>
            </ng-container>

            <!-- download Column -->
            <ng-container matColumnDef="download">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <a [href]="getFileURL(obj.fileReference)" *ngIf="obj.fileReference !== ''">Download</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj)"
                [ngClass]="{'highlight':obj === selectedInsurance}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
