<div class="content mt-16">
    <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
        <form [formGroup]="invoicingDetailForm">

            <div fxLayout="row">
                <span><b>Search Partner</b></span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="34">
                    <input matInput
                           (blur)="validatePartnerByName($event)"
                           placeholder="Select Partner by Name"
                           aria-label="Select Partner by Name"
                           [matAutocomplete]="auto2"
                           [formControl]="partnerNameFormControl">
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option *ngFor="let partner of partnerNameFilteredOptions | async" [value]="partner.partyName1">
                        <span>{{partner.partyName1}}</span>
                        <small> : {{partner.partyNumber}} : {{getPartyAddress(partner)}}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
    
                  <mat-form-field fxFlex="34">
                    <input matInput
                           (blur)="validatePartnerById($event)"
                           placeholder="Select Partner by Id"
                           aria-label="Select Partner by Id"
                           [matAutocomplete]="auto3"
                           [formControl]="partnerIdFormControl">
                    <mat-autocomplete #auto3="matAutocomplete">
                      <mat-option *ngFor="let partner of partnerIdFilteredOptions | async" [value]="partner.partyNumber">
                        <span>{{partner.partyNumber}}</span>
                        <small> : {{partner.partyName}} : {{getPartyAddress(partner)}}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>

            <div fxLayout="row">
                <span><b>Company Details</b></span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Partner Name" formControlName="companyName" maxlength="100" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="CIN Number" formControlName="cinNumber" maxlength="21" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="MSME Registration Number" formControlName="msmeRegistrationNumber" maxlength="20" [readonly]="readonlyFields">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="PAN Number" formControlName="pan" maxlength="15" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="GST Number" formControlName="gstNumber" maxlength="15" [readonly]="readonlyFields">
                </mat-form-field>
                <!-- <div fxLayout="column" fxFlex="34">
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="85">
                            <label for="document">Upload GST Certificate File (PDF)</label>
                            <input type="file" name="file" (change)="onFileSelect($event)" accept="application/pdf" id="document" #fileInput/>
                        </div>
                        <div fxLayout="column" fxFlex="15" class="mt-16">
                            <a [href]="getFileURL(selectedInvoicingDetail.fileReference)" *ngIf="selectedInvoicingDetail.fileReference !== '' &&
                                    selectedInvoicingDetail.fileReference !== undefined">
                                <mat-icon>cloud_download</mat-icon>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>

            <div fxLayout="row">
                <span><b>Address & Contact Details</b></span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Door Number" formControlName="doorNumber" maxlength="100" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Address" formControlName="address" maxlength="100" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Street" formControlName="street" maxlength="100" [readonly]="readonlyFields">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="City" formControlName="city" maxlength="100" [readonly]="readonlyFields">
                </mat-form-field>

                <mat-form-field fxFlex="34">
                    <!-- <mat-select placeholder="State" formControlName="state" required>
                        <mat-option> </mat-option>
                        <mat-option *ngFor="let state of states" [value]="state.code">
                            {{ state.value }}
                        </mat-option>
                    </mat-select> -->
                    <input matInput placeholder="State" formControlName="state" maxlength="100" [readonly]="readonlyFields">
                  </mat-form-field>

                  <mat-form-field fxFlex="33">
                    <input matInput placeholder="Postal Code" formControlName="postalCode" maxlength="10" [readonly]="readonlyFields">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Contact Number (Landline)" formControlName="landline" maxlength="15" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Contact Number (Mobile)" formControlName="mobile" maxlength="14" [readonly]="readonlyFields">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Email" formControlName="email" maxlength="100" [readonly]="readonlyFields">
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
