<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="height: 420px;">
        <form [formGroup]="ratingForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Year" formControlName="year" maxlength="4" required (blur)="validateFiscalYear()">
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <mat-select placeholder="Financial Ratios" formControlName="financialRatio">
                        <mat-option [value]="'0'">Low</mat-option>
                        <mat-option [value]="'1'">Medium</mat-option>
                        <mat-option [value]="'2'">High</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Approval Risk" formControlName="approvalRisk">
                        <mat-option [value]="'0'">Low</mat-option>
                        <mat-option [value]="'1'">Medium</mat-option>
                        <mat-option [value]="'2'">High</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Off-take related risk" formControlName="offTakeRisk">
                        <mat-option [value]="'0'">Low</mat-option>
                        <mat-option [value]="'1'">Medium</mat-option>
                        <mat-option [value]="'2'">High</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Fuel or Analogous Risk" formControlName="fuelRisk" maxlength="10">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Reputation Risk" formControlName="reputationRisk" maxlength="10">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Financing Structure" formControlName="financingStructure" maxlength="10">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Sponsor Support" formControlName="sponsorSupport" maxlength="10">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Security Package" formControlName="securityPackage" maxlength="10">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Construction Related Risk" formControlName="constructionRisk" maxlength="10">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Exposure/ Concentration" formControlName="exposure" maxlength="10">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Design & Technology Risk" formControlName="technologyRisk" maxlength="10">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Overall Risk Rating" formControlName="overallRisk" maxlength="10">
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
