<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="height: 315px">
        <form [formGroup]="_reasonForDelayForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Reason for Delay" formControlName="reasonForDelay" required>
                        <mat-option *ngFor="let reason of reasonsForDelay" [value]="reason.code">
                            {{ reason.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Remarks" formControlName="remarks" maxlength="200">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Status of Proposal/ Reason for Delay (if any)" formControlName="statusOfProposal" maxlength="200">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" placeholder="Date" formControlName="date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Type" formControlName="heldBy" required>
                        <mat-option [value]="'1'">With Appraisal</mat-option>
                        <mat-option [value]="'2'">With Risk</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
