<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="ml-8 mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('updateProposalDetails')"> 
            Update Proposal Details 
        </button>
    </div> 

    <div  fxLayout="row">
        <div class="mat-table-container mat-white-bg mr-8" style="width: 50%">

            <mat-table class="enquiries-table" [dataSource]="dataSource1" matSort fusePerfectScrollbar>
    
                <!-- particulars Column -->
                <ng-container matColumnDef="particulars">
                    <mat-header-cell *matHeaderCellDef>Particulars</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.particulars }}</p>
                    </mat-cell>
                </ng-container>
    
                <!-- description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Schedule If Any</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.description }}</p>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onRowSelect(obj)"
                    [ngClass]="{'highlight':obj.id === selectedSyndicateConsortium?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
    
            </mat-table>
        </div>
    
        <div class="mat-table-container mat-white-bg ml-8" style="width: 50%">
            <mat-table class="enquiries-table" [dataSource]="dataSource2" matSort fusePerfectScrollbar>

                <!-- particulars Column -->
                <ng-container matColumnDef="particulars">
                    <mat-header-cell *matHeaderCellDef>Particulars</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.particulars }}</p>
                    </mat-cell>
                </ng-container>
    
                <!-- description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Schedule If Any</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.description }}</p>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onRowSelect(obj)"
                    [ngClass]="{'highlight':obj.id === selectedSyndicateConsortium?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
    
            </mat-table>
        </div>
    </div>
</div>
