<fd-dynamic-page size="large" [autoResponsive]="true">
    <fd-dynamic-page-header headingLevel="2" [title]="title"
        subtitle="Preliminary risk assessment"
        [style.margin-top.rem]="1">
        <fd-dynamic-page-global-actions>
            <fd-toolbar fdType="transparent" [clearBorder]="true">
                <button fd-button
                    fd-toolbar-item
                    fdType="emphasized"
                    label="Back"
                    (click)="router.navigate(['/loan-contract-search'])"
                >
                </button>

                <button fd-button
                    fd-toolbar-item
                    fdType="positive"
                    label="Send for Approval"
                    [style.margin-left.rem]="0.1"
                    [disabled]="(!selectedRiskAssessment || selectedRiskAssessment.workFlowStatusCode === 2) || disableSendForApproval === true"
                    (click)="sendForApproval()"
                >
                </button>
            </fd-toolbar>
        </fd-dynamic-page-global-actions>
    </fd-dynamic-page-header>
    <fdp-icon-tab-bar 
        [layoutMode]="'row'"
        [enableTabReordering]="false"
        iconTabSize="sm"
    >
        <!-- Preliminary Risk Assessment Tab -->
        <fdp-icon-tab-bar-tab label="Preliminary Risk Assessment">
            <fd-dynamic-page-content>
                <app-generic-list 
                    [entity]="'riskAssessmentPreliminaryRiskAssessment'" 
                    [searchString1]="riskAssessmentId" 
                    [searchString2]="loanApplicationId"
                />
            </fd-dynamic-page-content>
        </fdp-icon-tab-bar-tab>
    </fdp-icon-tab-bar>
</fd-dynamic-page>
