<div id="tickers" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h4 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
            *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            Proces Enquiry : {{ loanContractId }} / {{ selectedEnquiry.projectName }}
            <br>
            Loan Status: {{ functionalStatus }}
        </div>
        <!-- / BREADCRUMB -->
        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button class="mr-8 mb-8" (click)="sendEnquiryActionForApproval()"
                [disabled]="(enquiryAction == {} ||
                    enquiryAction.workFlowStatusCode === 2) || disableSendForApproval === true">
                <mat-icon matSuffix class="mr-8">check</mat-icon>Send for Approval
            </button>
        </div>
        <!-- / TOOLBAR -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16">

        <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
            <mat-expansion-panel [expanded]="expandPanel1" hideToggle="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Enquiry Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="selectedEnquiryForm">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="BP Code" formControlName="busPartnerNumber" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Location (State)" formControlName="projectLocationState" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Type" formControlName="projectType" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Class" formControlName="loanClassDescription" readonly>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Capacity" formControlName="projectCapacity" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Type of Assistance" formControlName="assistanceTypeDescription" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Cost" formControlName="projectCost" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Amount Requested" formControlName="loanAmount" readonly>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Financing Type" formControlName="financingTypeDescription" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Lead FI" formControlName="leadFI" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Stage" formControlName="stage" readonly>
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Enquiry Number" formControlName="enquiryNumber" readonly>
                        </mat-form-field>
                    </div>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="expandPanel2" hideToggle="false" class="mt-16">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Other Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </div>

        <mat-tab-group #tabGroup class="mt-16">

            <!-- Project Proposal tab starts here -->
            <mat-tab label="Project Proposal">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-project-proposal></fuse-project-proposal>
                </div>
            </mat-tab>

            <!-- Reject by PFS tab starts here -->
            <mat-tab label="Rejected by PFS">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-reject-by-pfs></fuse-reject-by-pfs>
                </div>
            </mat-tab>

            <!-- Other Details tab starts here -->
            <mat-tab label="Other Details">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-other-details></fuse-other-details>
                </div>
            </mat-tab>

            <!-- Reason for Delay tab starts here -->
            <mat-tab label="Reason for Delay">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-enquiry-action-reason-for-delay></fuse-enquiry-action-reason-for-delay>
                </div>
            </mat-tab>

            <!-- Enquiry Completion tab starts here -->
            <mat-tab label="Enquiry Completion">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-enquiry-completion></fuse-enquiry-completion>
                </div>
            </mat-tab>

            <!-- Reject by PFS tab starts here -->
            <mat-tab label="Rejected by Customer">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-reject-by-customer></fuse-reject-by-customer>
                </div>
            </mat-tab>

        </mat-tab-group>
        <!-- / CONTENT -->
    </div>
</div>
