<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openCustomerRejectionUpdateDialog()"> 
            Update Customer Rejection Details
        </button>
    </div>


    <div  fxLayout="row">
        <div class="mat-table-container mat-white-bg mr-8" style="width: 50%">

            <mat-table class="enquiries-table" [dataSource]="dataSource1" matSort fusePerfectScrollbar>
    
                <!-- particulars Column -->
                <ng-container matColumnDef="particulars">
                    <mat-header-cell *matHeaderCellDef>Particulars</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.particulars }}</p>
                    </mat-cell>
                </ng-container>
    
                <!-- description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.description }}</p>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj">
                </mat-row>
    
            </mat-table>
        </div>
    </div>
</div>
