<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openReasonForDelayDialog('add')" [disabled]="!selectedReasonForDelay"
                *ngIf="_loanAppraisalService.loanAppraisalAuthorization?.accessAllowed"> 
            Add
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openReasonForDelayDialog('update')" [disabled]="!selectedReasonForDelay"
                *ngIf="_loanAppraisalService.loanAppraisalAuthorization?.accessAllowed"> 
            Update
        </button>
        <button class="btn" mat-raised-button color="accent" (click)="openReasonForDelayDialog('view')" [disabled]="!selectedReasonForDelay">
            View
        </button>
    </div>

    <div  fxLayout="row">
        <div class="mat-table-container mat-white-bg mr-8" style="width: 50%">

            <mat-table class="enquiries-table" [dataSource]="dataSource1" matSort fusePerfectScrollbar>
    
                <!-- particulars Column -->
                <ng-container matColumnDef="reasonForDelay">
                    <mat-header-cell *matHeaderCellDef>Reason for Delay</mat-header-cell>
                    <mat-cell *matCellDef="let obj" >
                        <p class="text-truncate">{{ obj.reasonForDelay }}</p>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let obj; columns: displayedColumns;" (click)="onSelect(obj)"
                        [ngClass]="{'highlight':obj.id === selectedReasonForDelay?.id}">
                </mat-row>
    
            </mat-table>
        </div>
    </div>
</div>
