<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important; height: 400px;">
        <form [formGroup]="loanEnhancementForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="ICC Meeting Number" formControlName="iccMeetingNumber" maxlength="10">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker3" placeholder="ICC Clearance Date" formControlName="iccClearanceDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Revised Project Cost" formControlName="revisedProjectCost" >          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Revised Equity" formControlName="revisedEquity" >          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Revised Contract Amount" formControlName="revisedContractAmount">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" placeholder="Rev. COD" formControlName="revisedCommercialOperationsDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker1" placeholder="Rev. Repayment Date" formControlName="reviseRepaymentStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Remarks" formControlName="remarks" maxlength="200">          
                </mat-form-field>
            </div>
            
            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
