<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="height: 400px">
        <form [formGroup]="_proposalDetailsForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Rate of Interest (Pre COD)" formControlName="rateOfInterestPreCod" maxlength="6">
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Rate of Interest (Post COD)" formControlName="rateOfInterestPostCod" maxlength="6">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Spread Reset (From COD)" formControlName="spreadReset" maxlength="3">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Spread Reset Unit" formControlName="spreadResetUnit" required>
                        <mat-option [value]="'1'">Days</mat-option>
                        <mat-option [value]="'2'">Weeks</mat-option>
                        <mat-option [value]="'3'">Months</mat-option>
                        <mat-option [value]="'4'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Effective Rate of Interest" formControlName="effectiveRateOfInterest" maxlength="6">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Construction Period" formControlName="constructionPeriod" maxlength="3">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Construction Period Unit" formControlName="constructionPeriodUnit">
                        <mat-option [value]="'1'">Days</mat-option>
                        <mat-option [value]="'2'">Weeks</mat-option>
                        <mat-option [value]="'3'">Months</mat-option>
                        <mat-option [value]="'4'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Moratorium Period" formControlName="moratoriumPeriod" maxlength="3">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Moratorium Period Unit" formControlName="moratoriumPeriodUnit">
                        <mat-option [value]="'1'">Days</mat-option>
                        <mat-option [value]="'2'">Weeks</mat-option>
                        <mat-option [value]="'3'">Months</mat-option>
                        <mat-option [value]="'4'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Repayment Period" formControlName="repaymentPeriod" maxlength="3">
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <mat-select placeholder="Repayment Period Unit" formControlName="repaymentPeriodUnit">
                        <mat-option [value]="'1'">Days</mat-option>
                        <mat-option [value]="'2'">Weeks</mat-option>
                        <mat-option [value]="'3'">Months</mat-option>
                        <mat-option [value]="'4'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Tenor" formControlName="tenor" maxlength="6">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Tenor Unit" formControlName="tenorUnit">
                        <mat-option [value]="'1'">Days</mat-option>
                        <mat-option [value]="'2'">Weeks</mat-option>
                        <mat-option [value]="'3'">Months</mat-option>
                        <mat-option [value]="'4'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Availability Period" formControlName="availabilityPeriod" maxlength="3">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Availability Period Unit" formControlName="availabilityPeriodUnit">
                        <mat-option [value]="'1'">Days</mat-option>
                        <mat-option [value]="'2'">Weeks</mat-option>
                        <mat-option [value]="'3'">Months</mat-option>
                        <mat-option [value]="'4'">Years</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Pre Payment Charges" formControlName="prePaymentCharges" maxlength="6">
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Fee Details Schedule" formControlName="feeDetailsSchedule" maxlength="6">
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
