<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="industryUpdateForm">
            <div fxLayout="row">
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Industry System" formControlName="industrySystemId" (selectionChange)="fetchIndustryTypes($event)" required>
                        <mat-option *ngFor="let industrySystem of industrySystems" [value]="industrySystem.id">
                            {{industrySystem.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Industry Type" formControlName="industryTypeId" required>
                        <mat-option *ngFor="let industryType of industryTypes" [value]="industryType.id">
                            {{industryType.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row" class="mb-16">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
