<component-ngx>
    <fd-layout-grid [noGap]="true" [style.width.rem]="96.5">
        <div fdLayoutGridRow [style.margin-top.rem]="0.5" [style.margin-bottom.rem]="0.5">
            <div [fdLayoutGridCol]="12">
                <div class="text-xl font-bold">
                    Upload/ Download Enquiries
                </div>
            </div>
        </div>
        <div fdLayoutGridRow style="height: auto;">
            <div [fdLayoutGridCol]="12" style="background-color: white;" [style.padding.rem]="1">
                <fd-file-uploader
                    #fileUploaderComponentRef
                    ariaLabel="Choose file"
                    ariaLabelledBy="Choose file"
                    placeholder="Select the file "
                    buttonLabel="Browse"
                    buttonAriaLabel="browse file"
                    accept=".xls,.xlsx"
                    [required]="true"
                    [(ngModel)]="files"
                    [multiple]="false"
                    (selectedFilesChanged)="handleFileSelection($event)"
                >
                </fd-file-uploader>

                <div [style.margin-top.rem]="0.5">
                    Files Selected:
                </div>
                @for (file of files; track file) {
                    <span>
                        <span class="text-green-600">{{ file.name }} </span><br />
                    </span>
                }

                <button
                    fd-button
                    (click)="previewEnquiries()"
                    label="Preview Enquiries"
                    [style.margin-top.rem]="0.5"
                >
                </button>

                <button
                    fd-button
                    (click)="fileUploaderComponentRef.clear()"
                    label="Clear Selection"
                    [style.margin-top.rem]="0.5"
                    [style.margin-left.rem]="0.3"
                >
                </button>
            </div>
        </div>

        <div fdLayoutGridRow style="height: auto;" [style.margin-top.rem]="1">
            <div [fdLayoutGridCol]="12" [style.background-color]="'white'">
                <form [formGroup]="downloadEnquiriesForm">
                    <div fdLayoutGridRow style="height: auto;" [style.padding.rem]="1">
                        <div [fdLayoutGridCol]="2">
                            <div fd-form-item>
                                <label fd-form-label for="datePicker1">Enquiry Date From</label>
                                <fd-date-picker 
                                    type="single" 
                                    inputId="datePicker1" 
                                    formControlName="enquiryDateFrom"
                                    [allowNull]="false" 
                                    [useValidation]="true">
                                </fd-date-picker>        
                            </div>
                        </div>
                        <div [fdLayoutGridCol]="2" [style.margin-left.rem]="0.3">
                            <div fd-form-item>
                                <label fd-form-label for="datePicker2">Enquiry Date To</label>
                                <fd-date-picker 
                                    type="single" 
                                    inputId="datePicker2" 
                                    formControlName="enquiryDateTo"
                                    [allowNull]="false" 
                                    [useValidation]="true">
                                </fd-date-picker>
                            </div>
                        </div>
                        <div [fdLayoutGridCol]="2" [style.margin-left.rem]="0.3">
                            <button
                                fd-button
                                (click)="downloadEnquiries()"
                                label="Download Enquiries"
                                [style.margin-top.rem]="1.2"
                            >
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div fdLayoutGridRow style="height: auto;" *ngIf="enquiries.length > 0" [style.margin-top.rem]="1">
            <div [fdLayoutGridCol]="12">
                <div style="width: 100%; overflow-x: auto;">
                    <table fd-table aria-label="Default" style="min-width: 200rem;">
                        <thead fd-table-header>
                            <tr fd-table-row>
                                @for (column of displayedColumns; track column) {
                                    <th fd-table-cell>{{ column }}</th>
                                }
                            </tr>
                        </thead>
                        <tbody fd-table-body>
                            @for (enquiry of enquiries; track enquiry) {
                            <tr fd-table-row
                                [hoverable]="true"
                                [active]="selectedEnquiry.isSelected(enquiry.serialNumber)"
                                (click)="selectedEnquiry.select(enquiry.serialNumber)"
                            >
                                <td fd-table-cell>
                                    <div *ngIf="enquiry.comments !== ''">
                                        <button fd-button type="button" color="accent" (click)="viewRejectedReasons(enquiry.comments)">
                                            View Reasons
                                        </button>
                                    </div>
                                </td>
                                <td fd-table-cell>{{ enquiry.serialNumber }}</td>
                                <td fd-table-cell>{{ enquiry.sapEnquiryId === 0 ? '' : enquiry.sapEnquiryId }}</td>
                                <td fd-table-cell>{{ enquiry.borrowerName }}</td>
                                <td fd-table-cell>{{ enquiry.groupName }}</td>
                                <td fd-table-cell>{{ enquiry.projectType }}</td>
                                <td fd-table-cell>{{ enquiry.loanType }}</td>
                                <td fd-table-cell>{{ enquiry.proposalType }}</td>
                                <td fd-table-cell>{{ enquiry.dateOfLeadGeneration | date:'dd/MM/yyyy' }}</td>
                                <td fd-table-cell [style.text-align]="'right'">{{ enquiry.amountRequested === 0 ? '' : enquiry.amountRequested }}</td>
                                <td fd-table-cell [style.text-align]="'right'">{{ enquiry.borrowerRequestedRoi === 0 ? '' : enquiry.borrowerRequestedROI }}</td>
                                <td fd-table-cell>{{ enquiry.iccReadinessStatus }}</td>
                                <td fd-table-cell>{{ enquiry.remarksOnIccReadiness }}</td>
                                <td fd-table-cell>{{ enquiry.presentedInIcc }}</td>
                                <td fd-table-cell>{{ enquiry.iccStatus }}</td>
                                <td fd-table-cell>{{ enquiry.reasonForIccStatus }}</td>
                                <td fd-table-cell>{{ enquiry.iccClearanceDate | date:'dd/MM/yyyy' }}</td>
                                <td fd-table-cell>{{ enquiry.iccMeetingNumber }}</td>
                                <td fd-table-cell [style.text-align]="'right'">{{ enquiry.amountApproved === 0 ? '' : enquiry.amountApproved }}</td>
                                <td fd-table-cell [style.text-align]="'right'">{{ enquiry.iccApprovedRoi === 0 ? '' : enquiry.iccApprovedRoi }}</td>
                                <td fd-table-cell>{{ enquiry.remarksForIccApproval }}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button fd-button
                    (click)="createEnquiries()"
                    label="Create Enquiries"
                    [style.margin.rem]="1"
                >
                </button>
            </div>
        </div>
    </fd-layout-grid>
</component-ngx>
