<div class="content">

    <div class="mat-table-container mat-white-bg mt-16" style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource1" matSort fusePerfectScrollbar>
            <!-- Business Partner Id Column -->
            <ng-container matColumnDef="businessPartnerId">
                <mat-header-cell *matHeaderCellDef>Bus. Partner Id</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.businessPartnerId }}</p>
                </mat-cell>
            </ng-container>

            <!-- roleType Column -->
            <ng-container matColumnDef="roleType">
                <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.roleType }}</p>
                </mat-cell>
            </ng-container>

            <!-- roleDescription Column -->
            <ng-container matColumnDef="roleDescription">
                <mat-header-cell *matHeaderCellDef>Role Description</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.roleDescription }}</p>
                </mat-cell>
            </ng-container>

            <!-- businessPartnerName Column -->
            <ng-container matColumnDef="businessPartnerName">
                <mat-header-cell *matHeaderCellDef>Business Partner</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.businessPartnerName }}</p>
                </mat-cell>
            </ng-container>

            <!-- kycStatus Column -->
            <ng-container matColumnDef="kycStatus">
                <mat-header-cell *matHeaderCellDef>KYC Status</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.kycStatus }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>

            <mat-row *matRowDef="let obj; columns: displayedColumns1;" class="obj" matRipple (click)="onPartnerSelect(obj)"
                [ngClass]="{'highlight':obj.id === selectedPartner?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>

    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button mat-raised-button color="accent" (click)="openUploadDialog()" [disabled]="!selectedKYCDocument">
            Upload Document
        </button>
    </div>

    <div class="mat-table-container mat-white-bg mt-16" style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource2" matSort fusePerfectScrollbar>

            <!-- documentType Column -->
            <ng-container matColumnDef="documentType">
                <mat-header-cell *matHeaderCellDef>Document Type</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.documentType }}</p>
                </mat-cell>
            </ng-container>

            <!-- documentName Column -->
            <ng-container matColumnDef="documentName">
                <mat-header-cell *matHeaderCellDef>Document Name</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.documentName }}</p>
                </mat-cell>
            </ng-container>

            <!-- dateOfCompletion Column -->
            <ng-container matColumnDef="dateOfCompletion">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.dateOfCompletion | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- remarks Column -->
            <ng-container matColumnDef="remarks">
                <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.remarks }}</p>
                </mat-cell>
            </ng-container>

            <!-- download Column -->
            <ng-container matColumnDef="download">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <a [href]="'enquiry/api/download/' + obj.fileReference" *ngIf="obj.fileReference">Download</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

            <mat-row *matRowDef="let obj; columns: displayedColumns2;" class="obj" matRipple (click)="onKYCDocumentSelect(obj)"
                [ngClass]="{'highlight':obj.id === selectedKYCDocument?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
