.bp-table-scroll {
    max-height: calc(100vh - 22rem);
    overflow-y: auto;
    width: 100%;

    thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--sapList_HeaderBackground, #fff);
    }
}
